# Firebase configuration for local development (uses staging + emulators)
# Copy this file to .env or .env.local and adjust values as needed.
# These are client-side Firebase config values. They are NOT secrets.

VITE_FIREBASE_API_KEY=AIzaSyA7VN9KOGqUZFE4Z0tVYBjvc1fDF_t__VU
VITE_FIREBASE_APP_ID=1:814425212762:web:b35075077f619348f75563
VITE_FIREBASE_AUTH_DOMAIN=dreamerscholars-staging.firebaseapp.com
VITE_FIREBASE_MEASUREMENT_ID=G-SNHQYMD3D4
VITE_FIREBASE_PROJECT_ID=dreamerscholars-staging
