rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function validAmount(docData){
      return docData.amount is map 
      && docData.amount.type in ['UNKNOWN', 'FIXED','VARIES','FULL_TUITION']
      && docData.amount.min is int
      && docData.amount.max is int
    }

    function validReqs(docData){
      return !('requirements' in docData) 
      || docData.requirements is map 
      && !('gpa' in docData.requirements) || docData.requirements.gpa is number
      && !('ethnicities' in docData.requirements) || docData.requirements.ethnicities is list
      && !('majors' in docData.requirements) || docData.requirements.majors is list
      && !('schools' in docData.requirements) || docData.requirements.schools is list
      && !('grades' in docData.requirements) || docData.requirements.grades is list
      && !('states' in docData.requirements) || docData.requirements.states is list
      && !('genders' in docData.requirements) || docData.requirements.genders is list
    }

    function validAuthor(docData){
      return !('author' in docData.author) || docData.author is map
      && !('id' in docData.author) || docData.author.id is string
      && !('email' in docData.author) || docData.author.email is string
    }

    function validData(docData){
      return docData.name is string 
      && validAmount(docData)
      && docData.deadline is timestamp 
      && docData.description is string 
      && docData.website is string
      // OPTIONAL FIELDS
      && !('organization' in docData) || docData.orginaztion is string
      && !('tags' in docData) || docData.tags is list
      && !('dateAdded' in docData) || docData.dateAdded is timestamp
      && !('lastModified' in docData) || docData.lastModified is timestamp
      && validReqs(docData)
      && validAuthor(docData)
    }

    match /scholarships/{document=**} {
      allow read: if true;
    }

    match /scholarships/{scholarshipId} {
      allow create: if request.auth != null && validData(request.resource.data);
      allow update: if request.auth.uid == resource.data.author.id || request.auth.token.admin;
      allow delete: if request.auth.uid == resource.data.author.id || request.auth.token.admin;
    }
  }
}
