ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.scholarship-row:after{
    display: block;
    height: 6px;
    background-color: #F5B700;
    content:"";
    width: 100%;
}