.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid #6a0683;
  padding: 3px 15px;
  margin-left:10px;
  align-items: right;
}

.header {
  text-align: right;
  color: white;
  margin-top:0px;
  padding:30px 35px 20px 25px;
  background: white;
  font-size: 15px;
  border-bottom: 7px solid #500966;
}

.footer {
  margin-top:100px;
  text-align: center;
  color: purple;
  padding:1px 35px 50px 25px;
  background: rgb(58, 56, 56);
  font-size: 15px;
  border-top: 7px solid #500966;
}