# Workflow for validating pull requests
name: Validation

# Triggers the workflow on push or pull request for the main branch
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# This workflow is made up of three jobs: build, lint, and test
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Setup node.js
        uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
          check-latest: true
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build app
        run: yarn build --frozen-lockfile
  
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Setup node.js
        uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
          check-latest: true
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn lint

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2
      - name: Setup node.js
        uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
          check-latest: true
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run tests
        uses: w9jds/firebase-action@master
        with:
          args: emulators:exec --only firestore "react-scripts test"
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
